@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-input {
  @apply border-white active:bg-blue-100 select-none bg-gray-200 cursor-pointer;
}

.canvas-area {
  @apply bg-white h-60 w-full rounded-md mx-2 mt-2;
}

.nameplate {
  @apply flex transform h-7 translate-y-7 truncate text-center bg-blue-100 rounded-tl-md rounded-br-md border border-black;
  max-width: 7rem;
}

.keyboard-bg > div {
  @apply bg-white m-0 p-1 !important;
}

.keyboard-btn > div > div > div {
  @apply bg-gray-100 hover:bg-gray-200 active:bg-gray-400 rounded-none border-none shadow-none !important;
}

.side-label {
  @apply flex cursor-pointer rounded-full border border-gray-300 items-center justify-center w-6 h-6 bg-gray-200 m-1;
}
